<h1>My Todo List</h1>
<a href="{% url 'task-create' %}">Create View</a>
<table>
    <tr>
      <th>Items</th>
      <th>Actions</th>
      <th>Modify</th>
      <th>Drop</th>
    </tr>
    {% for task in object_list %}
    <tr>
      <td>{{task.title}}</td>
      <td><a href="{% url 'task' task.id %}">View</a></td>
      <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
      <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
      <h3>Noting Tasks</h3>
    {% endfor %}
  </table>